// component styles are encapsulated and only applied to their components
:host {
  display: inline-block;
}

span {
  display: block;
  font-weight: bold;
  padding: .5em 1em;
  border: 2px solid transparent;
  color: white;
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
  transition: all .2s;
}

:not(.active)>span {
  text-shadow: 0 0 2px rgba(0,0,0,0);
  background-color: transparent !important;
  color: black;
}
