# Copy this to `config/dev.secret.exs` and modify the values for your environment
use Mix.Config

config :rumbl, :facebook, client_id: "FACEBOOK-APP-ID",
                          client_secret: "FACEBOOK-APP-SECRET",
                          redirect_uri: "https://HOSTNAME/oauth/fb"
